body {
  background: url('https://img2.goodfon.com/wallpaper/nbig/7/5f/ostrov-yahta-okean.jpg')
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
