.cart {
  margin: 5% 10%;
  padding: 5%;
  text-align: center;
  background: #cccccc;
  border-radius: 8px;
  color: black;
}
.cart,
.checkout-button {
  text-align: center;
}
.cart h2,
.cart h3 {
  color: black;
}

.cart .order-cost {
  text-align: center;
}

.cart .ui.button {
  text-align: center;
}

.cart .checkout-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}
