.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.checkout img {
  width: 300px;
  height: auto;
}
.title {
  text-align: center;
  font-family: Georgia, serif;
  color: navy;
  text-shadow: 0 0 3px mediumseagreen, 0 0 5px seashell;
  text-decoration: underline double goldenrod;
}
#table {
  font-family: Georgia, serif;
  color: dodgerblue;
}

#ordersTable {
  justify-content: center;
  text-align: center;
  font-family: Georgia, serif;
  border-collapse: collapse;
  border: 12px ridge saddlebrown;
  width: 70%;
  background: rgba(245, 245, 245, 0.63);
  box-shadow: 2px 2px 2px sienna;
}

#ordersTable td,
#ordersTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ordersTable tr:nth-child(even) {
  background-color: whitesmoke;
}

#ordersTable tr:hover {
  background-color: rgba(2, 99, 243, 0.88);
  box-shadow: 1px 1px 1px 1px black;
}

#ordersTable th {
  font-family: 'Abril Fatface', cursive;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: cadetblue;
  color: navy;
  size: 112%;
  font-weight: bold;
}

.cost {
  font-family: Georgia, serif;
  background-color: rgba(245, 245, 245, 0.733);
  padding: 22px;
  border: 3px groove navy;
  box-shadow: 1px 1px 1px 1px rgb(110, 110, 110);
  size: 110%;
  font-weight: bold;
}

#checkoutForm {
  font-family: Georgia, serif;
  opacity: 0.9;
  background-color: rgba(245, 245, 245, 0.774);
  padding: 22px;
  margin: 22px;
  size: 112%;
  width: 45%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  border: 3px solid darkgreen;
  box-shadow: 1px 3px 6px black;
}
.checkoutFormLabel label {
  font-family: Georgia, serif;
  opacity: 1;
  color: black;
  font-weight: bold;
  justify-content: center;
}
.checkoutFormLabel input {
  font-family: Georgia, serif;
  opacity: 1;
  border: 5px ridge saddlebrown;
}
#checkoutForm button {
  font-family: 'Abril Fatface', cursive;
  opacity: 1;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 2px solid #008cba;
}
#checkoutForm button:hover {
  background-color: #008cba;
  color: white;
}
