.confirmation {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 5px double dodgerblue;
  padding: 7%;
  background: rgba(245, 245, 245, 0.753);
}
