#user-details h4:first-child {
  color: white;
}

#user-details .ui.form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#user-details .ui.form input,
#user-details button {
  width: 300px;
}
