#yachtsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.yachtContainer {
  position: relative;
}

.yachtContainer .image {
  display: block;
  width: 360px;
  height: 200px;
  border-radius: 5px;
  margin: 12px;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.yachtContainer .image:hover {
  transform: scale(0.97);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.yachtContainer .text {
  text-align: center;
  font-size: 22px;
  align-items: center;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  opacity: 0;
  text-decoration: overline solid rgb(236, 185, 54);
  text-shadow: 1px 1px black;
}
.yachtContainer .image:hover + .text {
  transform: translateY(calc(5px));
  color: whitesmoke;
  opacity: 1;
}

body {
  color: whitesmoke;
}
.navBarItem {
  margin: 1em;
  color: white;
  text-shadow: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.navBarItem:hover {
  background: rgba(230, 228, 228, 0.4);
  padding: 0.8em;
}

#allProductsNavBar {
  background: #044f88;
  height: 3em;
  display: flex;
  justify-content: center;
  margin: 1em;
  align-items: center;
}
