.title {
  text-align: center;
  font-family: arial, sans-serif;
}

#ordersTable {
  width: 50%;
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  background: rgba(5, 82, 247, 0.7);
}

#ordersTable td,
#ordersTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ordersTable tr:nth-child(even) {
  background-color: #0ac4f3c4;
}

#ordersTable tr:hover {
  background-color: rgba(9, 245, 245, 0.863);
}

#ordersTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
h3 {
  color: whitesmoke;
}
