#navbar {
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

#navbar h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
}

#navbar .right-nav {
  align-self: flex-end;
  color: white;
}

#navbar nav a {
  color: white;
  margin: 1em;
}
