#navbar {
  color: white;
  display: flex;
}

#navbar h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
}

#navbar h4,
nav {
  align-self: flex-end;
}

#navbar nav a {
  display: inline-block;
  margin: 1em;
}
